body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

.label {
    pointer-events: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 0 5px black;
}

.label-container {
    position: absolute;
    top: 0;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

#collapseOverviewBtn {
    position:fixed; 
    left:50%;
    top:50%;
    z-index:1000;
    padding:8px 10px;
    border-radius:50%;
    background:#fff;
    border:none;
    cursor:pointer;
    font-weight:600;
    transform: translate(-50%, -50%);
}

#labelsOverview {
    left: 0;
    width: calc(50% - 5px);
    height: 100%;
}

#labelsMain {
    right: 0;
    width: calc(50% - 5px);
    height: 100%;
}

#mainInput {
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    pointer-events: auto;
    background: transparent;
    z-index: 1;
}

@media (max-aspect-ratio: 1/1) {
    #labelsOverview {
        top: 0;
        width: 100%;
        height: calc(50% - 5px);
    }

    #labelsMain {
        top: calc(50% + 5px);
        width: 100%;
        height: calc(50% - 5px);
    }

    #mainInput {
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
    }
}

.line-toggle {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: blue;
    border: 2px solid white;
    cursor: pointer;
}

.line-toggle:hover {
    transform: scale(1.2);
}