body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

a {
    color: #6b7aff;
}

.blue {
    background: #2196F3;
    color: #fff;
}

.grey {
    background: #bbbbbb;
    color: #000;
}

.label {
    pointer-events: none;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0 0 12px rgb(20, 20, 20), 0 0 6px black;
}

.label-small {
    pointer-events: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 0 12px rgb(20, 20, 20), 0 0 6px black;
}

#LevelInfoPanel {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    background: #fff;
    font-family: sans-serif;
    font-size: 24px;
    color: #333;
}

#labelsOverview {
    position: absolute;
    top: 0;
    left: 0;
    width: min(40vw, 350px);
    height: min(40vw, 350px);
    overflow: hidden;
    outline: #999999 solid 2px;
}

#labelsMain {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    overflow: hidden;
    clip-path: polygon(
        0 min(40vw, 350px), 
        min(40vw, 350px) min(40vw, 350px), 
        min(40vw, 350px) 0,
        100% 0%, 
        100% 100%, 
        0 100%
    );
}

.line-toggle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    pointer-events: auto;
}

#solvedOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    padding: 24px 32px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: Arial, sans-serif;
    display: none;
}

#solvedMessage {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1;
    color: #fff;
}

#rewardMessage {
    font-size: 24px;
    margin-bottom: 24px;
    color: #ffeb3b;
}

#nextLevelBtn {
    padding: 12px 24px;
    font-size: 24px;
}

.button{
    padding: 8px 16px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    min-width: 120px;
}

.button.blue:hover {
    background: #0758a8;
}

.button.grey:hover {
    background: #999999;
}

.error-toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgb(197, 0, 0);
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    animation: fadeInOut 5s ease-in-out;
    text-align: center;
    z-index: 1002;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, 20px); }
    10% { opacity: 1; transform: translate(-50%, 0); }
    90% { opacity: 1; transform: translate(-50%, 0); }
    100% { opacity: 0; transform: translate(-50%, 20px); }
}

#tutorialHelp {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 16px 24px;
    border-radius: 16px 16px 0 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    width: min(1000px,80%);
    text-align: center;
}

#topLeftUI {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 1000;
    color: #fff;
    font-family: 'Trebuchet MS';
    font-size: 32px;
}

.flex-row{
    display: flex;
    align-items: center;
    gap: 8px;
}

#menuButtons{
    margin-top:8px;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

#helpBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1976d2;
    color: #fff;
    border: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    cursor: help;
    font-size: 24px;
    font-weight: bold;
    z-index: 999;
}

#helpPanel {
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #202020;
    border: 4px solid #fff;
    padding: 16px 32px;
    border-radius: 16px;
    max-width: 600px;
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
}

#authPanel {
    z-index: 1002;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #202020;
    border: 4px solid #fff;
    padding: 16px 32px;
    border-radius: 16px;
    max-width: 400px;
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
}

.closeBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #e53935;
    color: #fff;
    border: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}