body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

.label {
    pointer-events: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 0 5px black;
}

#LevelInfoPanel {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    background: #fff;
    font-family: sans-serif;
    font-size: 24px;
    color: #333;
}

#collapseOverviewBtn {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    padding: 8px 10px;
    border-radius: 50%;
    background: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transform: translate(-50%, -50%);
}

#labelsOverview {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 5px);
    height: 100%;
    overflow: hidden;
}

#labelsMain {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% - 5px);
    height: 100%;
    pointer-events: auto;
    overflow: hidden;
}

@media (max-aspect-ratio: 1/1) {
    #labelsOverview {
        top: 0;
        width: 100%;
        height: calc(50% - 5px);
    }

    #labelsMain {
        top: calc(50% + 5px);
        left: 0;
        width: 100%;
        height: calc(50% - 5px);
    }
}

.line-toggle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    pointer-events: auto;
}